
@font-face {font-family: 'Montserrat', sans-serif;}

* {color: #112233;}

body {
    text-align: center;
    background-color: #F0F1F5!important;
    color: #112233;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #F0F1F5;
}

input#weather-location {
    border: none;
    background-color: none;
    color: #112233;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    max-width: 160px;
}

button {
    outline: none;
    background-color: #112233;
    color: #F0F1F5;
    border: none;
    border-radius: 5%;
    height: 35px;
    width: 90px;
}

button:hover {
    cursor: pointer;
}

.info-box {
    border-raidus: 10%;
    border: solid 1px #112233;
    width: 250px;
    margin: auto 0;
    height: 200px;
    margin: 10px;
}

.weather-data {
    width: 50%;
    margin-top: 75px;
    font-size: 3em;
}

.weather-icon {
    border-right: solid 1px #112233;
}


.inline {
    float: left;
}

.weather-data button {
    font-size: 0.2em;
}
